name: CI-CD

on:
  push:
    branches: [ main ]

jobs:
  CI:
    runs-on: ubuntu-latest
  
    steps:
      - uses: actions/checkout@v2
          
      - name: Docker Login
        uses: docker/login-action@v1.12.0
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_PWD }}
          
      - name: Docker Build and Push
        uses: docker/build-push-action@v2.8.0
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            niccolas1987/conversao-temperatura:latest
            niccolas1987/conversao-temperatura:v${{github.run_number}}
  
  CD:
    needs: CI
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2
      
      # Get the GKE credentials so we can deploy to the cluster
      - name: Set up GKE credentials
        uses: google-github-actions/get-gke-credentials@v0.2.1
        with:
          cluster_name: ${{ secrets.GKE_CLUSTER }}
          location: ${{ secrets.GKE_ZONE }}
          credentials: ${{ secrets.GKE_CREDENTIALS }}
          
      - name: Deploy
        run: |-
          kubectl apply -f ./k8s/deployment.yaml
